version: 2
jobs:
  # Runs JavaScript tests on Node 8
  test-js-node-8:
    docker:
      - image: circleci/node:8

    working_directory: ~/italia-app

    steps:
      - checkout

      # Restore dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-

      # Install node dependencies
      - run: npm install --no-package-lock --no-spin --no-progress

      # Save node cache
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
        
      # Run tests
      - run: npm test

  # Build android
  build-android:
    docker:
      - image: circleci/android:api-27-node8-alpha

    working_directory: ~/italia-app

    steps:
      - checkout

      # Restore dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-

      # Install node dependencies
      - run: npm install --no-package-lock --no-spin --no-progress

      # Save node cache
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
        
      # Run tests
      - run: npm test

workflows:
  version: 2

  build:
    jobs:

      - test-js-node-8

      - build-android